POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=paygate_service
ACCESS_SECRET_KEY=access
ACCESS_TOKEN_EXPIRE_MINUTES=30
SECRET_KEY=gfdmhghif38yrf9ew0jkf32